body {
  box-sizing: border-box;
}

img {
  width: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.octodex {

}

.octocat {
  /* background-color: blue; */
  /* border: solid 5px #fff; */
  display: inline-block;
  width: 33%;
}

.image-footer img {
  width: 50px;
}
