body {
  box-sizing: border-box;
}

img {
  width: 100%;
}

ul {
  padding: 0;
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.octocat li {
  margin-top: 15px;
}

.octocat {
  display: inline-block;
  width: 30%;
}

.octocat img {
  border: black 1px inset;


}

.image-footer img {
  width: 25px;
}

.image-number {
  display: block;
  background color: red;
  color: #9DA5B3;
  font-size: 12;
  text-align: left;
}

.image-caption {
  font-size: 12;
  text-align: right;
}
.authors {
  display: inline-block;
  position: sticky;
  left: 80%;

}
